body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root{
  padding: 0;
}
.App{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(48, 44, 44);
}
/*Home enter name*/

.home{
  width: 100%;
  display: flex;
  position: relative;
  height: 100vh;
  background-color: #0f0f0f;
  justify-content: center;
  align-items: center;
  
}
.poke_img{
  display: flex;
  width: 90%;
  height: 80%;
 
}
.poke_img img{
  width: 100%;
  height: 100%;
  object-fit: fill;
}
.content_form{
  width: 325px;
  background-color: #0f0f0f;
  opacity: .8;
  color: rgb(240, 247, 247);
  position: absolute;
  text-align: center;
  padding: 20px 0;
  border-radius: 5px;
}
.content_form h1{
  margin: 15px 0;
}
.content_form p{
  font-size: 20px;
  margin-bottom: 16px;
}
.content_form input, .content_form button{
  padding: 9px;
  border: none;
  margin-bottom: 8px;
}
.content_form button{
  background-color:rgb(160, 156, 156);
  cursor: pointer;
}
.content_form input{
  outline: none;
}


/*header*/
.pokeball{
  width: 100%;
  display: flex;
  background-color: black;
  
}
.pokeball img{
  margin-left: 10px;
}
.pokeball img:nth-child(1){
  width: 80px;
  border-radius: 50%;
}
.pokeball img:nth-child(2){
  width: 145px;
}
/**Serch bars*/
.content_searches{

  display: flex;
  flex-direction: column;
}
.searches{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.search-bar{
  margin-right: 20px;
}
.search-bar input{
  padding: 8px 5px;
  border:none;
  outline: none;
}
.search-bar button{
  padding: 8px 9px;
  cursor: pointer;
  border:none;
  background-color: rgb(88, 86, 86);
  color: aliceblue;
  
}
.select_pokemon select{
  height: 31px;
  width: 150px;
  outline: none;
}


/*Cards*/

.cards-container{
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  margin-top: 50px;
  justify-content: space-evenly;
}

.card{
  width: 320px;
  border-radius: 15px;
  color: aliceblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #272626;
  box-shadow: 3px 3px 5px #1b1a1a, -3px -3px 5px #2b2b2b;

}

.bg_normal{
  box-shadow: 3px 3px 5px #919090, -3px -3px 5px  #1b1a1a;
}
.text_normal{
  color: #919090;
}
.bg_fire{
  box-shadow: 3px 3px 5px #d15015, -3px -3px 5px #1b1a1a;

}
.text_fire{
  color:#e6500b;
}
.bg_grass{
  box-shadow: 3px 3px 5px #37db60 , -3px -3px 5px  #1b1a1a;

}
.text_grass{
  color: #37db60;
}
.bg_water{
  box-shadow: 3px 3px 5px #2adad1, -3px -3px 5px #1b1a1a;

}
.text_water{
  color: #2adad1;
}
.bg_flying{
  box-shadow: 3px 3px 5px #eea6e9, -3px -3px 5px #1b1a1a ;
}
.text_flying{
  color: #eea6e9;
}
.bg_ice{
  box-shadow: 3px 3px 5px #05ade0, -3px -3px 5px #1b1a1a;
}
.text_ice{
  color:#05ade0;
}
.bg_ghost{
  box-shadow: 3px 3px 5px  #691080, -3px -3px 5px #1b1a1a;
}
.text_ghost{
  color:#691080 ;
}
.bg_poison{
  box-shadow: 3px 3px 5px #b40c82, -3px -3px 5px #1b1a1a;
}
.text_poison{
  color:#b40c82
}
.bg_fairy{
  box-shadow: 3px 3px 5px #f5bfe5, -3px -3px 5px #1b1a1a;
}
.text_fairy{
  color:#f5bfe5;
}
.bg_dragon{
  box-shadow: 3px 3px 5px #f5ac3f, -3px -3px 5px #1b1a1a;
}
.text_dragon{
  color: #f5ac3f;
}
.bg_steel{
  box-shadow: 3px 3px 5px #7fafcf, -3px -3px 5px #1b1a1a;
}
.text_steel{
  color: #7fafcf;
}
.bg_bug{
  box-shadow: 3px 3px 5px #0f9124, -3px -3px 5px #1b1a1a;
}
.text_bug{
  color:#0f9124;
}
.bg_electric{
  box-shadow: 3px 3px 5px #f7db3c, -3px -3px 5px #1b1a1a;
}
.text_electric{
  color: #f7db3c;
}
.bg_psychic{
  box-shadow: 3px 3px 5px #7846ee, -3px -3px 5px #1b1a1a;
}
.text_psychic{
  color: #7846ee;
}
.bg_rock{
  box-shadow: 3px 3px 5px #c4c2c3, -3px -3px 5px #1b1a1a;
}
.text_rock{
  color: #c4c2c3;
}
.bg_ground{
  box-shadow: 3px 3px 5px #c79d41, -3px -3px 5px #1b1a1a;
}
.text_ground{
  color: #c79d41;
}
.bg_shadow{
  box-shadow: 3px 3px 5px #363faf, -3px -3px 5px #1b1a1a;
}
.text_shadow{
  color: #363faf;
}
.bg_dark{
  box-shadow: 3px 3px 5px #030b7e, -3px -3px 5px #1b1a1a;
}
.text_dark{
  color: #030b7e;
}
.bg_unknown{
  box-shadow: 3px 3px 5px #af0864, -3px -3px 5px #1b1a1a;
}
.text_unknown{
  color: #af0864;
}
.bg_fighting{
  box-shadow: 3px 3px 5px #830924, -3px -3px 5px #1b1a1a;
}
.text_fighting{
  color: #830924;
}
.img_pokemon{
  width: 120px;
  padding: 20px;
  border-radius: 50%;
  margin-top: 15px;
  background: linear-gradient(160deg, #1b1a1a 0%, #2b2b2b 100%);
  box-shadow: 3px 3px 5px #1b1a1a, -3px -3px 5px #2b2b2b;
  
}
.body_card{
  text-align: center;
}
.img_pokemon img{
  width: 100%;
  height: 100%;
  object-fit: fill;
}


/*footer*/
footer{
  width: 100%;
  
}
ul{
  display: grid;
  grid-template-columns: auto auto;
 
  padding: 0;
  margin: 0;
  text-align: center;
  list-style: none;
  gap: 5px;
  border-radius: 15px;
}
p, h2, h3, h4{
  margin: 10px 0;
}

/*Detail*/
.detail_container{
  display: flex;
}
.poke_detail{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  background-color: darkgray;
}
.poke_detail img{
  width: 75%;
}